<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:pg="http://phonegap.com/ns/1.0" id="org.savagelook.big3" version="0.0.0">
	<name>Big 3</name>
	<description>A basic app for iOS, Android, and Blackberry</description>
	<author href="http://savagelook.com" email="anthony.lukasavage@gmail.com">@tonylukasavage</author>
    <icon src="img/icon-57.png" width="57" height="57" />
    <icon src="img/icon-72.png" width="72" height="72" />
    <icon src="img/icon-114.png" width="114" height="114" />
</widget>
