body {
	font-family: Georgia;
	background: #eaeaea;
}

h1 {
    background:#fff;
    border:5px solid #ccc;
    border-radius:10px;
    color:#ccc;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    padding:20px;
    margin:20px;
}
