body {
    margin:0;
    padding:0
}

h1 {
    display:inline;
    float:left;
    text-align:center;
    font-size: 0.9em;
    width:200px;
}

h2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #666666), color-stop(1.0, #000000));
    color: white;
    font-style: bold;
    padding: 6px;
    font-size:0.8em;
    font-family:Helvetica;
    -webkit-border-radius: 3px;
    margin:10px;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

ul li {
    margin:0;
    padding:0;
}

ul li a {
    text-decoration:none;
    color:black;
    padding:10px 10px 10px 20px;
    display:block;
    font-family:Helvetica;
    font-size:1em;
}

#header {
    background: #333333;
    color: #AAAAAA;
    border-bottom: 2px solid #AAAAAA;
    margin: 0;
    font-family:Helvetica;
    overflow:auto;
}

#back {
    float:left;
    display:none;
}

#info {
    float:right;
    margin:10px;
    -webkit-border-radius:20px;
    border:1px solid black;
    background:black;
    color:#fff;
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
    color:#AAAAAA;
}

#deck {
}

.card {
    background:#eaeaea;
}
